---
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
---

<header>
	<nav>
		<HeaderLink title="Mesh.Dev"/>
	</nav>
	<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
    integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
    crossorigin="anonymous"
/>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		margin: 1em 0;
		display: flex;
		align-items: center;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1260px;
	}
	@media (max-width: 720px) {
		header {
			padding: 0;
		}
	}
</style>
