---
import Logo from './Logo.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<a href="/" class="link">
		<Logo />
    <span class="mask">
      <div class="link-container">
        <h2 class="link-title1 title">
          {title}
        </h2>
        <h2 class="link-title2 title">{title}</h2>
      </div>
    </span>
  </a>
<style>
    .link {
      height: 30px;
      align-items: center;
      color: #000;
      text-decoration: none;
      display: flex;
    }

    /* Hide extra text */
    .mask {
      position: relative;
      padding: 0;
      height: 2em;

      /*  Remove overflow to see how it works　:) */
      overflow: hidden;
      /* margin-bottom: 0.5em; */
      margin-top: 0.5em;
    }

    .link-container {
      transition: transform 0.4s ease;
    }

    .title {
      display: block;

      /*  Set same font-size and line height  */
      font-size: 1.5em;
      line-height: 30px;

      transition: transform 0.4s ease;
    }

    .link-title1 {
      transform-origin: right center;
    }

    .link-title2 {
      transform-origin: left center;
      transform: rotate(90deg);
      background: #B026CF;
      background: radial-gradient(circle farthest-corner at center center, #B026CF 0%, #CF2225 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .link-icon {
      position: relative;
      width: 35px;
      height: 35px;
      background: #f8f8ff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      overflow: hidden;
    }

    .icon {
      display: block;
      position: absolute;
      transition: transform 0.4s ease;
    }

    .icon:nth-child(2) {
      transform: translate(-50px);
    }


/* Move up two texts (30px = font-size) */
.link:hover .link-container {
  transform: translateY(-40px);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

/* Move arrows to right */
.link:hover .icon:first-child {
  transform: translate(40px);
}

.link:hover .icon:nth-child(2) {
  transform: translate(0px);
}
</style>