---
interface Props {
	htmlPath: string;
    refresh?: boolean;
    height?: number;
}
import { propsToFilename } from "astro/assets/utils";
import Refresh from "./Refresh.astro";

const { htmlPath, refresh, height } = Astro.props;
---
<div class="plot">
    <iframe id={"plotframe-"+htmlPath} src={htmlPath} width="100%" height={height ? height : "600px"} style="border:none;" title="loss landscape" loading="lazy" class="plot-iframe">
        Data
    </iframe>
    { refresh &&
        <button id={"refreshButton-"+htmlPath} class="refresh-btn"><Refresh /></button>
    }
</div>
<style>
    .plot {
        background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
            linear-gradient(8deg, rgba(249,7,16,0.59) 0%, transparent 29.163%, rgba(225,50,44,0.97) 70.558%, rgba(243,12,31,0.23) 80.976%, #f3a60a 100%),
            linear-gradient(97deg, #f01c3b 0%, #e51184 12.972%, #ee29ba 96.764%, #e6309e 100%);
        border-radius: 8px;
        padding: 9px;
        box-sizing: border-box;
    }

    .refresh-btn {
        opacity: 1;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .refresh-btn:hover {
        -webkit-animation: rotate-center 1s both;
	    animation: rotate-center 1s both;
    }
    @media (max-width: 720px) {
        .plot::before {
            content: "Plots not supported on mobile";
            height: 50px;
        }
        .plot-iframe {
            display: none;
        }
        .refresh-btn {
            display: none;
        }
	}

    @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
</style>
<script define:vars={{htmlPath}}>
    if (window !== null) {
        const button = document.getElementById("refreshButton-" + htmlPath);
        if (button) {
            button.addEventListener("click", () => {
                const iframe = document.getElementById("plotframe-"+htmlPath);
                iframe.contentWindow?.location.reload();
            });
        }
    }
  </script>