---
interface Props {
    id: string;
};

const { id } = Astro.props;
---
<div id={id} class={"scroll-container"}>
    <div class="scroll" />
<script>
    
</script>
<style>
    .scroll-container {
        width: 80px;
        height: 80px;
        position: fixed;
        bottom: 40px;
        right: 25px;
        transform: rotate(180deg);
        display: none;
        z-index: 99;
    }
    .scroll-container:hover .scroll {
        border: 2px solid white;
        cursor: pointer;
        animation: none;
    }
    .scroll {
        width: 60px;
        height: 60px;
        border: 2px solid #333;
        border-radius: 50%;
        position: relative;
        transition: all;
        transition-duration: 200ms;
        animation: down 1.8s normal;
        -webkit-animation: down 1.8s normal;
    }
    .scroll::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 20px;
		width: 18px;
		height: 18px;
        border-left-width: 2px;
        border-left-style: solid;
        border-image: linear-gradient(to right, #C500CF 50%, #DC0451 100%) 1;
  	    border-bottom: 2px solid #333;
		transform: rotate(-45deg);
	}
    @-webkit-keyframes down {
        0% {
            transform: translate(0);
        }
        20% {
            transform: translateY(30px);
        }
        40% {
            transform: translate(0);
        }
    }
    @media (max-width: 720px) {
        .scroll-container {
            display: none;
        }
	}
</style>
</div>